* {
    margin: 0;
    padding: 0;
}

 body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
    width: 100%;
    height: 50%;
    margin-bottom: 2em;
}

header img {
    width: 30%;
    display: inline-block;
}

h1{
    padding-left: 55px;
    color: white;
}

header h1{
    padding-right: 50%;
	vertical-align:	middle;
}

h2{
    text-align: center;
	display:inline-block;
	vertical-align:	middle;
	font-family: 'Montserrat', sans-serif;
}

.container{
	width: 90%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
}

section h2{
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
	font-family: 'Montserrat', sans-serif;


}

tbody img {
    width: 65%;
    display: inline-block;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
    border-radius: 2px;
}

td p {
    margin-top: 10px;
}

 #book1 {
	background-color: #fbc8da;
}
#book2 {
	background-color: #acb5d2;
}
#book3 {
	background-color: #c8a7cc;
}
#book4 {
	background-color: #e88693;
}
#book5 {
	background-color: #ffda9d;
}
#book6 {
	background-color: #79a5cd;
}
#book7 {
	background-color: #848484;
}

footer {
	font-family: 'Montserrat', sans-serif;
	color:white;
	background-color: #333;
	text-align: center;
}